body {
    background-image: url('home/background-home-desktop.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.header0 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(40px);
    margin-bottom: 7rem;
}


.icon {
    border: 2px solid red;
    width: 12%;
    margin: 0px;
}

.nav {
    /* color: #FFF; */
    --bs-link-color: white;
    --bs-link-hover-color: gray;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}
.mainbody {
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 177.778% */
}

.mainpreheading {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    margin-bottom: 2rem;
}

.mainheading {
    color: #FFF;
    font-family: 'Bellefair';
    font-size: 7rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.main {
    padding: 5rem;
    width: 28%;
    margin-left: 5%;
}

.explore {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0B0D17;
    font-family: 'Bellefair';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    width: 274px;
    height: 274px;
    flex-shrink: 0;
    border-radius: 274px;
    background: #FFF;
}

.bottom {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1067px) {
    body {
        background-image: url('home/background-home-tablet.jpg');
    }

    .bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mainbody {
        text-align: center;
    }

    .mainpreheading {
        text-align: center;
    }

    .main {
        width: 41rem;
    }

    .mainheading {
        text-align: center;
    }

    .explore0 {
        margin: 53px;
        width: 18rem;
    }
}

@media screen and (max-width: 805px){
    .nav-pills{
        font-size: 12px;
    }
    body{
        background-image: url('home/background-home-mobile.jpg');
        background-size: 100% 100%;
    }
    .mainheading{
        font-size: 5rem;
    }
    .main{
        margin: 0px;
        padding: 9px;
    }
}