body {
    background-image: url('technology/background-technology-desktop.jpg');
}

.header0 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 7rem;
}

.nav {
    backdrop-filter: blur(70px);
    /* color: #FFF; */
    --bs-link-color: white;
    --bs-link-hover-color: gray;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}

.flex1 {
    margin-left: 8rem;
    display: flex;
    width: 378px;
    justify-content: space-evenly;
}

.flex1-container {
    color: gray;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
}

#flex1-container-1 {
    font-weight: 1000;
}

#flex1-container-2 {
    color: white;
}


/* .group {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-color: #ffffff40;
} */
.group-copy {
    margin-bottom: 15px;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    overflow: hidden;
    border: 1px solid;
    border-color: #ffffff40;
}

.group-copy .text-wrapper {
    position: absolute;
    top: 21px;
    left: 34px;
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;

    font-size: 32px;
    text-align: center;
    letter-spacing: 2px;
    line-height: normal;
    white-space: nowrap;
}

.active-group {
    background-color: #ffffff;
    color: black;
}

.main {
    display: flex;
    margin: 80px;
    justify-content:space-evenly;
}

.main-plot-1 {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    width: fit-content;
}
.group-copy:hover{
    cursor: pointer;
    border-color: white;
}

.main-plot-2 {
    position: relative;
    width: 470px;
    height: 303px;
    margin-right: 10%;
}

.main-plot-2 .main-plot-2-heading {
    top: 30px;
    left: 0;
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 56px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    
}

.main-plot-2 .main-plot-2-description {
    top: 111px;
    left: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: #d0d6f9;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    /* text-align: justify; */
}
.sub-body{
    width: 30%;
}
@media screen and (max-width: 805px) {
    body{
        background-image: url('technology/background-technology-mobile.jpg');
    }
    .nav-pills{
        font-size: 12px;
    }
    .main-plot-2-heading{
        font-size: 28px;
    }
}
@media screen and (max-width: 1067px){
    body{
        background-image: url('assets/technology/background-technology-tablet.jpg');
    }
    .flex1 {
        margin: 0; /* Revert to original margin on tablets */
    }

    .flex1-container {
        font-size: 28px; /* Revert to original font size on tablets */
        letter-spacing: 4.725px; /* Revert to original letter spacing on tablets */
    }
    .main{
        flex-direction: column-reverse;
        align-items: center;
        /* margin: 0px; */
        margin: 12% 0px 20% 0px;
    }
    .pic{
        width: 80%;
        /* content: url('/assets/technology/image-launch-vehicle-portrait.jpg'); */
    }
    .main-plot-1{
        flex-direction: row;
        margin: 0px;
    }
    .main-plot-2{
        margin: 0px;
    }
    .group-copy{
        margin: 15px;
    }
    .main-plot-2{
        height: fit-content;
        width: 80%;
    }
    .main-plot-2-heading, .main-plot-2-description{
        text-align: center;
    }
    .main-plot-2-heading{
        font-size: 35px!important;
    }
    .main-plot-2-description{
        font-size: 15px!important;
    }
    .main-plot-3{
        margin-bottom: 3%;
        text-align: center;
    }
}
